main{
    background: rgb(125,125,125);
    border: solid 1px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    width: calc(100% - 25px);
    height: calc(100% - 20px);;
    display: grid;
    padding: 10px 15px;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    border-radius: 5px;
    flex: 1;
}

.item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    width: 300px;
    gap: 5px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-color: rgb(200, 200, 200);
}

.item-wrapper:hover{
    transform: scale(105%);
}

.img-wrapper {
    width: 250px;
    height: 225px;
}