.header-filter-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
}

.header-filter-wrapper .home {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.header-filter-wrapper .search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
}

.header-filter-wrapper .home > button, .header-filter-wrapper .search > button,
.header-filter-wrapper .home > a, .header-filter-wrapper .search > a{
    border: none;
    border-radius: 8px;
    justify-content: flex-start;
    background: rgba(150, 150, 250, 0.3);
    width: 50px;
    height: 50px;
}

.header-filter-wrapper .search > button:hover, .header-filter-wrapper .home > button:hover
.header-filter-wrapper .home > a:hover, .header-filter-wrapper .search > a:hover{
    background-color: rgb(0, 255, 255);
    transition: all .2s;
}

.header-filter-wrapper .search > input, .header-filter-wrapper .search > select{
    border-radius: 8px;
    width: 200px;
    height: 24px;
}

.header-input-range-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header-input-range-wrapper > div{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
}

.header-menu-wrapper{
	display: flex;
	align-items: center;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.6);
    left: 10px;
    width: auto;
	height: 30px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* INICIO DO INPUT TYPE RANGE COM PROGRESS BAR */
.header-input-value {
	color: rgb(255, 255, 255);
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(255, 255, 255, 0.5);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.header-input-value {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

.header-input-value:active {
	cursor: grabbing;
}

.header-input-value:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.header-input-value,
.header-input-value::-webkit-slider-runnable-track,
.header-input-value::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.header-input-value::-webkit-slider-runnable-track,
.header-input-value::-webkit-slider-thumb {
	position: relative;
}

.header-input-value::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

.header-input-value:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.header-input-value:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.header-input-value::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}
/* FIM DO INPUT TYPE RANGE COM PROGRESS BAR */
