body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1aace6, #75d4f9, #ade8ff, #75d4f9, #1aace6);
    background-size: 400%, 100%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 100%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.main{
    padding-top: 100px;
}

.main-text-lg{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
} 
.main-text-lg-white{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    color: aliceblue;
} 

.main-text-md{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: normal;
}
.main-text-md-white{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: normal;
    color: aliceblue;
}

.main-text-sm{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: normal;
}
.main-text-sm-white{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: normal;
    color: aliceblue;
}
